label{
    width: 50px;
}
.submit-signup{
    margin-top: 30px;
}
.main-signup{
    align-content:center;
    /* margin: 100px; */
}

.form-group{
    margin-top: 10px;
}

input[type="text"], input[type="password"]{
    width: 250px;
    padding:10px;
    border: 0.5px solid #d9d9d9;
    border-radius: 4px;
    margin-right: 20px;
}
label[class="error"], #check-mail {
    display: inline;
    width: 250px;
    padding:10px;
    border-radius: 4px;
    margin-right: 20px;
}